* {
    margin: 0px auto;
    padding: 0px;
    background-color: whitesmoke;
}

header {
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container1 {
    display: flex;
    align-items: center;
    background-color: white;
}

.img1 {
    height: 35px;
    margin-right: 12px;
    background-color: white;
}

h2 {
    background-color: white;
}

.container2 {
    padding-top: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 40px;
}

span {
    font-family: sans-serif;
    font-size: 0.9rem;
    background-color: white;
    color: #64748B;
}


button {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #4CAF50;
    /* Green background */
    transform: scale(1.02);
}

.img2 {
    height: 16px;
}

button:hover .img2 {
    background-color: #4CAF50;
}

.sp {
    font-size: 17px;
    color: black;
    transition: color 0.3s ease;
}

button:hover .sp {
    background-color: #4CAF50;
}

h1 {
    font-family: sans-serif;
    margin-top: 50px;
    text-align: center;
}

p {
    font-family: sans-serif;
    margin-top: 15px;
    text-align: center;
    color: #7E22CE;
    font-size: 15px;
}

.swin_content {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.img3 {
    margin-top: 8px;
    background-color: whitesmoke;
    height: 30px;
    margin-bottom: 7px;
}

.data {
    text-align: center;
    margin-top: 20px;
    color: #4B5563;
    font-size: 16px;
    font-family: sans-serif;

}

.data1 {
    text-align: center;
    margin-top: 20px;
    color: #4B5563;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 0px;
}

.upload_container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 25px;
    width: 576px;
    height: 223px;
    padding: 24px;
    border-style: dashed;
    border-color: #4CAF50;
}

.ch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img4 {
    height: 45px;
}

.dp {
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 25px;
    color: #374151;
}

.bw {
    font-family: sans-serif;
    font-size: 15px;
    color: #6B7280;
    margin: -7px 0px 0px 0px;
}

.select {
    height: 40px;
    width: 120px;
    padding: 8px 16px;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    background-color: #ffff;
    margin-top: 25px;
}

.si {
    color: #020817;
    font-family: sans-serif;
    font-size: 14px;
}

.select:hover .si {
    background-color: #4CAF50;
}

.sf {
    font-family: sans-serif;
    font-size: 16px;
    color: #6B7280;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.end_container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 224px;
    padding: 24px;
    margin-top: 65px;
    border: 2px solid whitesmoke;
    background-color: white;
}

.last_container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    ;

}

.fd {
    text-align: left;
    font-weight: inherit;
    font-family: sans-serif;
    margin-top: 10px;
}

.c1 {
    margin-top: 20px;
    width: 300px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.box1 {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_upload {
    height: 27px;
    background-color: lightgreen;
}

h3 {
    color: #020817;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 14px;
    background-color: white;
}

.ft {
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 10px;
    color: #6B7280;
    background-color: white;
}

.action_container {
    text-decoration: none;
}

a.action_container:link {
    color: black;
}
